{% extends 'base.html' %}

{% block title %}
    
{% endblock title %}

{% block body %}

    <div class="row justify-content-center">
        <div class="col">
            <h1>Карьерный марафон</h1>
            {% if message %}
                <p class="danger">{{ message }}</p>
            {% endif %}
            <form action="/" method="POST">
                <div class="mb-3">
                  <label for="email" class="form-label">Электронная почта</label>
                  <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
                  <div id="emailHelp" class="form-text">Введите почту ДВФУ, которую указывали при регистрации на мероприятие.<br>Если не сработало, пожалуйста, <a href="https://forms.yandex.ru/u/67ecb32402848faaee7fdb66/">ЗАРЕГИСТРИРУЙТЕСЬ</a></div>
                </div>
                <button type="submit" class="btn btn-primary">Отправить</button>
            </form>
        </div>
    </div>


{% endblock body %}